<app-header />
    <div class="title-proyects">
        <h1>Nuestros proyectos</h1>
    </div>
    <button class="button-add" routerLink="/formProyects">añadir</button>
  <div class="container-images">
    <div class="image">
        <img src="https://i.ytimg.com/vi/iQmZILuVcD8/maxresdefault.jpg" alt="Imagen 1">
        <h3>Arquitectura</h3>
        <p>Mostramos nuestra esencia y donde empiezan a cobrar vida los sueños.</p>
    </div>
    <div class="image">
        <img src="https://images.hola.com/imagenes/decoracion/20210504188911/decoracion-interiores-casa-moderna-comoda-funcional-lm/0-947-979/duplex-matheu-1a-a.jpg" alt="Imagen 2">
        <h3>Interiorismo</h3>
        <p>Aunamos personalidad y funcionalidad en el diseño de los interiores.</p>
    </div>
    <div class="image">
        <img src="https://www.docrysdc.es/sites/default/files/imagenes/proyecto-integral-de-vivienda-cocina-vista-salon.jpg" alt="Imagen 3">
        <h3>Proyectos integrales</h3>
        <p>Donde empieza a ejecutarse la base de toda creacion.</p>
    </div>
    <div class="image">
        <img src="https://images.adsttc.com/media/images/6261/b83e/a2b8/d901/673c/87a1/medium_jpg/vivienda-en-sar-by-ansede-quintans-foto-luis-diaz-diaz-25-ok.jpg?1650571381" alt="Imagen 4">
        <h3>Rehabilitaciones</h3>
        <p>Damos vida a proyectos obsoletos dandoles la vuelta y convirtiendolos en todo lo que deseas.</p>
    </div>
    @for(product of products; track $index) {
        <div class="image">
            <img src="https://okdiario.com/img/2018/03/13/como-calcular-porcentaje-de-error.jpg" alt="Imagen 4">
            <h3>{{product.title}}</h3>
            <p>{{product.descritpion}}</p>
        </div>
    }
  </div>
<app-footer />